*{
    margin: 0;
    padding: 0;
}
.col {
   height: 350px;
   width: 350px;
   border: solid black 5px;
   margin: 5px;
}

.row{
    display: flex;
    flex-direction: row;
}

main{
    min-height: 100vh;
    margin-bottom: -100px;
}

@media screen and (max-width: 480px) {.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}}
footer,.push{
    height: 100px;
    text-align: center;
}
